.app_section_container {
  position: relative;
  /* display: ; */
  width: 100vw;
  top: 0;
  left: 25vw;
  z-index: 1;
}

@media (max-width: 768px) {
  .app_section_container {
    width: 100%;
    /* left: 0; */
  }
}

@media (min-width: 769px) {
  .app_section_container {
    width: calc(100% - 300px);
    /* left: 150px; */
  }
}
